body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.attribution{
position: absolute;
bottom: 10px;
text-align: center;
}

.background {
    background-color: (47, 88%, 63%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: hsl(47, 88%, 63%);}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    z-index: 2;
}
.box{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 8px 7px 0px rgba(0, 0, 0 ,1 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    z-index: 2;
}
